.input{
    margin-right: 16px;
    border: 1px solid black;
    border-radius: 4px;
    padding: 4px;
}

.button{
    padding: 4px;
    border: 1px solid black;
    border-radius: 4px;
   background-color: rgb(189, 211, 240);
    cursor: pointer;
    
    &.button:hover,
    .button:focus
    {
        background-color: rgb(139, 172, 212);
    }
}

